{% extends 'base.html.twig' %}

{% block title %}Mes dépenses par catégorie{% endblock %}

{% block body %}
<div class="card z-depth-4 card-rounded">
    <h1 class="center-align">Mes dépenses par catégorie</h1>
	
	<div class="right-align">
		<a href="{{ path('operation_new') }}" class="btn waves-effect waves-light">
			Ajouter
			<i class="material-icons right">add</i>
		</a>
	</div>

	<div class="center-align">
		{% include "account/_form.html.twig" %}
	</div>

	<table class="striped highlight">
		<thead>
			<tr>
				<th>Catégorie</th>
				<th class="right-align">Montant</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.name }}</td>
					<td class="right-align">{{ category.getAmount|format_currency('EUR') }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">Aucun résultat</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>Total</th>
				<td class="right-align">{{ categories|reduce((amount, category) => amount + category.getAmount)|format_currency('EUR') }}</td>
			</tr>
		</tfoot>
	</table>
</div>
{% endblock %}
