{% extends 'base.html.twig' %}

{% block title %}Entrez vos opérations{% endblock %}

{% block body %}
    <h1>Entrez vos opérations</h1>

    {{ include('operation/_form.html.twig') }}

    <a href="{{ path('operation_index') }}">Retour à la liste</a>
{% endblock %}
