{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h2>Hello LPDWCA !</h2>
        <h5>Vous êtes sur la page d'accueil de notre SP budget</h5>
            <div class="row">
                <div class="section">
                    <div class="col s5 push-s7">
                        <span class="flow-text">
                            <h4>Gérer votre argent devient simple avec notre application mobile gratuite et sécurisée</h4>
                        </span>
                    </div>
                </div>
                <div class="col s7 pull-s5">
                    <span class="flow-text">
                        <h4>Catégorisation des dépenses</h4>
                            <p>Vous catégorisez  vos dépenses et  vous faites le bilan de vos dépenses en courses, transport, restaurants...</p> 
                            <p>Plus besoin de faire ses comptes !</p>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="section">
                    <div class="col s5 push-s7">
                        <span class="flow-text">
                            <h4>Mode paiement</h4>
                                <p>Vous pouvez personnalisez vos transactions en fonction de vos moyens de paiement.</p>
                                    <img class="responsive-img" src="public/images/image_finance_home.svg">
                        </span>
                    </div>
                </div>
                <div class="col s7 pull-s5">
                    <span class="flow-text">
                        <h4>Affichage des statisques</h4>
                            <p>Vous visualisez rapidement vos entrées et sorties d’argent automaticaquement grace à des graphiques. </p>
                    </span>
                </div>
            </div>
{% endblock %}
