<footer class="page-footer">
	<div class="row">
		<div class="container">
            © 2020 Ozan Yildiz | Reda Bouazza | Isabelle Bonamy | Vincent Sureau
			<a class="grey-text text-lighten-4 right" target="_blank" href="https://github.com/VincentSureau/SP_budget_symfony">Voir sur GitHub</a>
		</div>
	</div>
</footer>
