{% extends 'email_layout.html.twig' %}
{% block title %}Votre changement de mot de passe{% endblock %}
{% block content %}
<p>Bonjour,</p>
<p>
	Pour changer votre mot de passe, cliquez :
</p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
	<tbody>
		<tr>
			<td align="left">
				<table role="presentation" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td>
								<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">ici</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<p>
	Ce lien est valable {{ tokenLifetime|date('g') }} heures..
</p>
<p>
	A très bientôt sur AppBudget !
</p>


{% endblock %}