body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 2rem;
}

nav .brand-logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav .sidenav-header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 1rem;
}

.card-rounded {
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.8rem!important;
    font-weight: bold;
}

h2 {
    font-size: 2rem!important;
}

h3 {
    font-size: 1.8rem!important;
}

h4 {
    font-size: 1.6rem!important;
}

h5, h6 {
    font-size: 1.4rem!important;
}

.btn {
    margin: .3rem;
}

.mb-0 {
    margin-bottom: 0;
}

.flex-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 993px) {
    .flex-row {
        flex-direction: row;
    }
}

ul.pagination {
    text-align: center;
}

.no-margin {
    margin: 0;
}

input[type="color"] {
    height: 30px;
    width: 100px;
}

input[type="color"] ~ label {
    top: -40px;
}