<form method="post" action="{{ path('admin_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette categorie ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn red waves-effect waves-light left">
        Supprimer
        <i class="material-icons right">delete</i>
    </button>
</form>
