{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="right-align">
        <button class="btn waves-effect waves-light">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
