{% extends 'base.html.twig' %}
{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
<div class="card z-depth-4 card-rounded">
	{{ include('admin/category/_delete_form.html.twig') }}
	<h1 class="center-align">Modifier la catégorie</h1>

	{{ include('admin/category/_form.html.twig', {'button_label': 'Modifier'}) }}

</div>
<a href="{{ path('admin_category_index') }}">retour à la liste</a>
{% endblock %}
