{% extends 'base.html.twig' %}
{# todo: les titres ne sont pas traduits et le template n'est pas modifié, reprendre à l'identique de payment_method #}
{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('/admin/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_category_index') }}">back to list</a>

    {{ include('/admin/category/_delete_form.html.twig') }}
{% endblock %}
